//colors

$color-primary:#011B33;
$color-blue-light:#3D79EF;
$light-green:#35A162;
$lighter-green:#E6F8ED;
$color-red:#E01010;
$color-red-light:#FFEAE6;
$color-green-light:#E8EFE9 ;
$color-gray-light:#DDE7DD;
$color-gray: #E8EFE9;
$light-gray:#62626C;
$lighter-gray:#e8e8e9;
$lighter-gray-2:#93939A;
$color-gray-dark:#62626C;
$color-white:#FDFDFD;
$color-orange-light:#FFF3E6;
$color-orange-light-2:#FFD9B1;


//font-size
$small-text:2rem;
$small-text-2:1.9rem;
$small-text-3:1.1rem;
$large-text:4rem;
$large-text-2:3.5rem;


// $size-small:1.8rem; 
// $smaller-font:1.4rem;
// $size-large:4rem;
// $size-large-2:3.5rem;
// $size-small_2:1.1rem;
